//===============================================
//Foundation
//===============================================
@use "foundation/variables";
@use "foundation/base";

//===============================================
//Layout
//===============================================
@use "layout/main-visual";
@use "layout/footer";

//===============================================
//Object
//===============================================
//-------------------------------
//Component
//-------------------------------
@use "object/component/title";
@use "object/component/bg";
@use "object/component/text";

//-------------------------------
//Project
//-------------------------------
@use "object/project/catch";
@use "object/project/cta";
@use "object/project/lang-btn";
@use "object/project/concept";
@use "object/project/swiper";
@use "object/project/meal";
@use "object/project/onsen";
@use "object/project/kankou";
@use "object/project/access";

//-------------------------------
//Utility
//-------------------------------
@use "object/utility/margin-bottom";