@use "../../foundation/variables";

.c-bg {
    background-image: url(../../../images/room_bg.jpg);
    height: 100%;
    padding: 20px;
    background-size: cover;

    @include variables.media-tb {
        padding: 50px;
    }

    @include variables.media-pc {
        padding: 80px;
    }
}