@use "../../foundation/variables";



.p-kankou_img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;

    @include variables.media-tb {
        height: auto;
        flex-grow: 2;
        flex-basis: 0; // ★これが大事！
        max-width: none; // ★これも大事！
        min-width: 0; // ← これがないと flex が効かない！

    }

}

.p-kankou_figure:nth-of-type(1) .p-kankou_img {
    object-position: center 70%;
}

.p-kankou_figure {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

    @include variables.media-tb {
        flex-direction: row;
        align-items: stretch; // 高さを揃える
        width: 100%;
        max-width: none; // ★これも大事！
        height: 600px;


    }
}

.p-kankou_caption {
    background-color: rgba(variables.$color-white, 0.8);
    padding: 30px;
    @include variables.font-jp(1.2rem, 400, 2.4rem, variables.$color-darkbrown);

    @include variables.media-tb {
        @include variables.font-jp(1.4rem, 400, 2.8rem, variables.$color-darkbrown);
        flex-grow: 1;
        flex-basis: 0; // ★これも同じ！
        min-width: 0; // ← これがないと flex が効かない！
    }

    @include variables.media-pc {
        @include variables.font-jp(1.6rem, 400, 3.2rem, variables.$color-darkbrown);
    }

    h3 {
        font-weight: 700;
        padding-bottom: 15px;

        @include variables.media-tb {
            padding-top: 30px;
            padding-bottom: 30px;

        }
    }
}

.p-kankou_figure:nth-of-type(2) {
    @include variables.media-tb {
        flex-direction: row-reverse;
    }
}