@use "../../foundation/variables";


.p-swiper-wrap {
    margin-inline: auto;
    max-width: 500px;
    position: relative;

    @include variables.media-pc {
        max-width: 800px;
    }
}


.swiper-slide img {
    height: auto;
    width: 100%;
    display: block;
}


.swiper {
    max-width: 500px;

    @include variables.media-pc {
        max-width: 800px;
    }
}


//ページネーション
.swiper-button-prev {

    @include variables.media-tb {
        left: -50px !important;
    }

    @include variables.media-pc {
        left: -70px !important;
    }
}

.swiper-button-next {

    @include variables.media-tb {
        right: -50px !important;
    }

    @include variables.media-pc {
        right: -70px !important;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: variables.$color-white !important;
    margin-top: calc(-13% - var(--swiper-navigation-size) / 2) !important;

    @include variables.media-tb {
        color: variables.$color-darkbrown !important;
    }
}


//サムネ
.slider-thumbnail .swiper-slide {
    opacity: .5;
    transition: opacity .5s;
    width: calc(100% / 4);
}

.slider-thumbnail .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
}


// キャプション
.p-swiper__text {
    @include variables.font-jp(1.2rem, 400, 2.4rem, variables.$color-darkbrown);
    background-color: rgba(variables.$color-white, 0.8);
    padding: 10px 20px;
    max-width: 500px;
    margin: 0 auto;

    @include variables.media-tb {
        @include variables.font-jp(1.4rem, 400, 2.8rem, variables.$color-darkbrown);
    }

    @include variables.media-pc {
        @include variables.font-jp(1.6rem, 400, 3.2rem, variables.$color-darkbrown);
        max-width: 800px;

    }
}