@use "../foundation/variables";

.l-footer {
    background-image: url(../../images/footer_bg.jpg);
    height: 100%;
    padding: 20px;
    background-size: cover;
    height: 160px;

    display: grid;
    align-items: end;
    justify-items: center;

    @include variables.media-pc {
        height: 200px
    }

    small {
        @include variables.font-jp(1.0rem, 400, 2.0rem, variables.$color-white);
    }
}

.l-footer__wrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    img {
        margin-right: 20px;

        @include variables.media-tb {
            width: 100px;
            margin-right: 30px;
        }

        @include variables.media-pc {
            margin-right: 40px;
        }
    }

}


.l-footer__text {
    @include variables.font-jp(1.2rem, 400, 2.4rem, variables.$color-white);

    @include variables.media-tb {
        @include variables.font-jp(1.4rem, 400, 2.8rem, variables.$color-white);
        max-width: 600px;
    }

    @include variables.media-pc {
        @include variables.font-jp(1.6rem, 400, 3.2rem, variables.$color-white);
        max-width: 800px;
    }

}