@use "../foundation/variables";

.l-main-visual {
    background-image: url(../../images/main-visual_sp.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;

    @include variables.media-tb {
        background-image: url(../../images/main-visual_tb.png);
    }

    @include variables.media-pc {
        background-image: url(../../images/main-visual_pc.png);
    }
}